# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
vendor/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*


# OS-specific
.DS_Store
Thumbs.db
