[data-theme="alat"] {
  --text-scaling: 1.2;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-100);
  --base-font-family: system-ui;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0rem;
  --radius-container: 0rem;
  --default-border-width: 1px;
  --default-divide-width: 2px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(84.88% 0.03 212.56deg);
  --color-primary-100: oklch(77.44% 0.03 213.16deg);
  --color-primary-200: oklch(70.05% 0.03 210.53deg);
  --color-primary-300: oklch(62.27% 0.03 213.87deg);
  --color-primary-400: oklch(54.44% 0.03 211.15deg);
  --color-primary-500: oklch(46.08% 0.03 211.82deg);
  --color-primary-600: oklch(39.46% 0.02 211.96deg);
  --color-primary-700: oklch(32.86% 0.02 211.2deg);
  --color-primary-800: oklch(25.67% 0.01 212.68deg);
  --color-primary-900: oklch(18.19% 0.01 211.08deg);
  --color-primary-950: oklch(0% 0 none);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-secondary-950);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-dark);
  --color-primary-contrast-700: var(--color-primary-contrast-dark);
  --color-primary-contrast-800: var(--color-primary-contrast-dark);
  --color-primary-contrast-900: var(--color-primary-contrast-dark);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(87.7% 0.08 143.77deg);
  --color-secondary-100: oklch(80.18% 0.08 144.23deg);
  --color-secondary-200: oklch(72.78% 0.08 144.15deg);
  --color-secondary-300: oklch(64.87% 0.07 144.05deg);
  --color-secondary-400: oklch(57.06% 0.07 143.93deg);
  --color-secondary-500: oklch(48.66% 0.07 144.39deg);
  --color-secondary-600: oklch(41.78% 0.06 144.42deg);
  --color-secondary-700: oklch(34.9% 0.05 144.43deg);
  --color-secondary-800: oklch(27.35% 0.04 144.5deg);
  --color-secondary-900: oklch(19.56% 0.02 144.55deg);
  --color-secondary-950: oklch(8.4% 0.03 142.5deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(80.62% 0.06 319.69deg);
  --color-tertiary-100: oklch(73.22% 0.06 319.49deg);
  --color-tertiary-200: oklch(65.63% 0.06 319.28deg);
  --color-tertiary-300: oklch(58.17% 0.06 319.04deg);
  --color-tertiary-400: oklch(50.11% 0.06 318.78deg);
  --color-tertiary-500: oklch(41.74% 0.06 318.48deg);
  --color-tertiary-600: oklch(36.04% 0.05 317.94deg);
  --color-tertiary-700: oklch(30.07% 0.04 318.64deg);
  --color-tertiary-800: oklch(23.59% 0.03 318.32deg);
  --color-tertiary-900: oklch(16.84% 0.01 320.69deg);
  --color-tertiary-950: oklch(0% 0 none);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(98.67% 0.07 107.61deg);
  --color-success-100: oklch(95.53% 0.1 122.24deg);
  --color-success-200: oklch(92.37% 0.14 129.13deg);
  --color-success-300: oklch(89.61% 0.17 133.65deg);
  --color-success-400: oklch(86.93% 0.2 136.15deg);
  --color-success-500: oklch(84.78% 0.23 138.08deg);
  --color-success-600: oklch(77.57% 0.22 139.06deg);
  --color-success-700: oklch(70.24% 0.21 140.07deg);
  --color-success-800: oklch(62.77% 0.19 141.17deg);
  --color-success-900: oklch(55.23% 0.18 142.02deg);
  --color-success-950: oklch(47.58% 0.16 142.53deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.51% 0.08 107.77deg);
  --color-warning-100: oklch(95.74% 0.1 104.27deg);
  --color-warning-200: oklch(93.09% 0.11 101.19deg);
  --color-warning-300: oklch(90.2% 0.13 98.65deg);
  --color-warning-400: oklch(87.64% 0.14 96.47deg);
  --color-warning-500: oklch(85.05% 0.15 94.76deg);
  --color-warning-600: oklch(77.9% 0.14 94.43deg);
  --color-warning-700: oklch(70.48% 0.13 94.61deg);
  --color-warning-800: oklch(62.76% 0.12 93.33deg);
  --color-warning-900: oklch(54.92% 0.11 93.13deg);
  --color-warning-950: oklch(46.91% 0.1 91.89deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(96.12% 0.08 99.22deg);
  --color-error-100: oklch(90.52% 0.08 82.11deg);
  --color-error-200: oklch(84.97% 0.1 67.46deg);
  --color-error-300: oklch(79.67% 0.11 56.14deg);
  --color-error-400: oklch(74.52% 0.14 47.95deg);
  --color-error-500: oklch(69.85% 0.16 42.29deg);
  --color-error-600: oklch(62.43% 0.16 39.49deg);
  --color-error-700: oklch(54.78% 0.15 35.82deg);
  --color-error-800: oklch(47.04% 0.15 33.07deg);
  --color-error-900: oklch(39.45% 0.14 30.01deg);
  --color-error-950: oklch(32.19% 0.13 29.28deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-dark);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(100% 0 none);
  --color-surface-100: oklch(93.56% 0.01 247.84deg);
  --color-surface-200: oklch(87.02% 0.01 247.93deg);
  --color-surface-300: oklch(80.31% 0.02 248.04deg);
  --color-surface-400: oklch(73.52% 0.02 248.14deg);
  --color-surface-500: oklch(66.58% 0.03 248.27deg);
  --color-surface-600: oklch(59.33% 0.03 250.03deg);
  --color-surface-700: oklch(52.04% 0.03 246.52deg);
  --color-surface-800: oklch(44.22% 0.03 246.67deg);
  --color-surface-900: oklch(36.34% 0.03 242.69deg);
  --color-surface-950: oklch(27.8% 0.03 244.99deg);
  --color-surface-contrast-dark: var(--color-surface-300);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-light);
  --color-surface-contrast-300: var(--color-surface-contrast-light);
  --color-surface-contrast-400: var(--color-surface-contrast-light);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
[data-theme="alat-rounded"] {
  --text-scaling: 1.2;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-100);
  --base-font-family:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 2px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(84.88% 0.03 212.56deg);
  --color-primary-100: oklch(77.44% 0.03 213.16deg);
  --color-primary-200: oklch(70.05% 0.03 210.53deg);
  --color-primary-300: oklch(62.27% 0.03 213.87deg);
  --color-primary-400: oklch(54.44% 0.03 211.15deg);
  --color-primary-500: oklch(46.08% 0.03 211.82deg);
  --color-primary-600: oklch(39.46% 0.02 211.96deg);
  --color-primary-700: oklch(32.86% 0.02 211.2deg);
  --color-primary-800: oklch(25.67% 0.01 212.68deg);
  --color-primary-900: oklch(18.19% 0.01 211.08deg);
  --color-primary-950: oklch(0% 0 none);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-secondary-950);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-dark);
  --color-primary-contrast-700: var(--color-primary-contrast-dark);
  --color-primary-contrast-800: var(--color-primary-contrast-dark);
  --color-primary-contrast-900: var(--color-primary-contrast-dark);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(87.7% 0.08 143.77deg);
  --color-secondary-100: oklch(80.18% 0.08 144.23deg);
  --color-secondary-200: oklch(72.78% 0.08 144.15deg);
  --color-secondary-300: oklch(64.87% 0.07 144.05deg);
  --color-secondary-400: oklch(57.06% 0.07 143.93deg);
  --color-secondary-500: oklch(48.66% 0.07 144.39deg);
  --color-secondary-600: oklch(41.78% 0.06 144.42deg);
  --color-secondary-700: oklch(34.9% 0.05 144.43deg);
  --color-secondary-800: oklch(27.35% 0.04 144.5deg);
  --color-secondary-900: oklch(19.56% 0.02 144.55deg);
  --color-secondary-950: oklch(8.4% 0.03 142.5deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(80.62% 0.06 319.69deg);
  --color-tertiary-100: oklch(73.22% 0.06 319.49deg);
  --color-tertiary-200: oklch(65.63% 0.06 319.28deg);
  --color-tertiary-300: oklch(58.17% 0.06 319.04deg);
  --color-tertiary-400: oklch(50.11% 0.06 318.78deg);
  --color-tertiary-500: oklch(41.74% 0.06 318.48deg);
  --color-tertiary-600: oklch(36.04% 0.05 317.94deg);
  --color-tertiary-700: oklch(30.07% 0.04 318.64deg);
  --color-tertiary-800: oklch(23.59% 0.03 318.32deg);
  --color-tertiary-900: oklch(16.84% 0.01 320.69deg);
  --color-tertiary-950: oklch(0% 0 none);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(98.67% 0.07 107.61deg);
  --color-success-100: oklch(95.53% 0.1 122.24deg);
  --color-success-200: oklch(92.37% 0.14 129.13deg);
  --color-success-300: oklch(89.61% 0.17 133.65deg);
  --color-success-400: oklch(86.93% 0.2 136.15deg);
  --color-success-500: oklch(84.78% 0.23 138.08deg);
  --color-success-600: oklch(77.57% 0.22 139.06deg);
  --color-success-700: oklch(70.24% 0.21 140.07deg);
  --color-success-800: oklch(62.77% 0.19 141.17deg);
  --color-success-900: oklch(55.23% 0.18 142.02deg);
  --color-success-950: oklch(47.58% 0.16 142.53deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.51% 0.08 107.77deg);
  --color-warning-100: oklch(95.74% 0.1 104.27deg);
  --color-warning-200: oklch(93.09% 0.11 101.19deg);
  --color-warning-300: oklch(90.2% 0.13 98.65deg);
  --color-warning-400: oklch(87.64% 0.14 96.47deg);
  --color-warning-500: oklch(85.05% 0.15 94.76deg);
  --color-warning-600: oklch(77.8% 0.14 94.92deg);
  --color-warning-700: oklch(70.48% 0.13 94.61deg);
  --color-warning-800: oklch(62.66% 0.12 93.93deg);
  --color-warning-900: oklch(54.92% 0.11 93.13deg);
  --color-warning-950: oklch(46.8% 0.1 92.71deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(96.12% 0.08 99.22deg);
  --color-error-100: oklch(90.52% 0.08 82.11deg);
  --color-error-200: oklch(84.97% 0.1 67.46deg);
  --color-error-300: oklch(79.67% 0.11 56.14deg);
  --color-error-400: oklch(74.52% 0.14 47.95deg);
  --color-error-500: oklch(69.85% 0.16 42.29deg);
  --color-error-600: oklch(62.43% 0.16 39.49deg);
  --color-error-700: oklch(54.78% 0.15 35.82deg);
  --color-error-800: oklch(47.04% 0.15 33.07deg);
  --color-error-900: oklch(39.45% 0.14 30.01deg);
  --color-error-950: oklch(32.19% 0.13 29.28deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-dark);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(100% 0 none);
  --color-surface-100: oklch(93.56% 0.01 247.84deg);
  --color-surface-200: oklch(87.02% 0.01 247.93deg);
  --color-surface-300: oklch(80.31% 0.02 248.04deg);
  --color-surface-400: oklch(73.52% 0.02 248.14deg);
  --color-surface-500: oklch(66.58% 0.03 248.27deg);
  --color-surface-600: oklch(59.33% 0.03 250.03deg);
  --color-surface-700: oklch(52.04% 0.03 246.52deg);
  --color-surface-800: oklch(44.22% 0.03 246.67deg);
  --color-surface-900: oklch(36.34% 0.03 242.69deg);
  --color-surface-950: oklch(27.8% 0.03 244.99deg);
  --color-surface-contrast-dark: var(--color-surface-300);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-light);
  --color-surface-contrast-300: var(--color-surface-contrast-light);
  --color-surface-contrast-400: var(--color-surface-contrast-light);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
